In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame
stu=pd.read_excel('c:\data\studentsInfo.xlsx','Group3',index_col=0)

In [3]:
stu['成绩'].mean()

78.0

In [4]:
stu['月生活费'].quantile([.25,.75])

0.25     800.0
0.75    1175.0
Name: 月生活费, dtype: float64

In [5]:
stu[['身高','体重','成绩']].describe()

               身高       体重         成绩
count   10.000000  10.0000  10.000000
mean   165.500000  55.1000  78.000000
std      6.381397  12.8448  14.476034
min    160.000000  42.0000  59.000000
25%    161.250000  49.0000  65.750000
50%    163.500000  51.5000  76.500000
75%    167.750000  53.5000  92.000000
max    181.000000  80.0000  98.000000