In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
stu=pd.read_excel('c:\data\studentsInfo.xlsx','Group3',index_col=0)

In [2]:
stu['身高'].corr(stu['体重'])

0.6757399098527682

In [3]:
stu[['身高','体重','成绩']].corr()

          身高        体重        成绩
身高  1.000000  0.675740  0.080587
体重  0.675740  1.000000 -0.072305
成绩  0.080587 -0.072305  1.000000