In [2]:
import pandas as pd
import numpy as np
stu=pd.read_excel('c:\\Users\\aa\\data\\studentsInfo.xlsx','Group1',index_col=0)
stu6=stu.drop_duplicates()
stu6

        性别    年龄   身高    体重            省份    成绩    月生活费  课程兴趣  案例教学
序号
1     male  20.0  170  70.0      LiaoNing   NaN   800.0     5     4
2     male  22.0  180  71.0       GuangXi  77.0  1300.0     3     4
3     male   NaN  180  62.0        FuJian  57.0  1000.0     2     4
4     male  20.0  177  72.0      LiaoNing  79.0   900.0     4     4
5     male  20.0  172   NaN      ShanDong  91.0     NaN     5     5
6     male  20.0  179  75.0        YunNan  92.0   950.0     5     5
7   female  21.0  166  53.0      LiaoNing  80.0  1200.0     4     5
8   female  20.0  162  47.0         AnHui  78.0  1000.0     4     4
10    male  19.0  169  76.0  HeiLongJiang  88.0  1100.0     5     5