In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
stu=pd.read_excel('c:\data\studentsInfo.xlsx','Group3',index_col=0)

In [2]:
stu['成绩排名']=stu['成绩'].rank(method='min',ascending=False)
stu

        性别  年龄   身高  体重        省份  成绩  月生活费  课程兴趣  案例教学  成绩排名
序号
21  female  21  165  45  ShangHai  93  1200     5     5   2.0
22  female  19  167  42     HuBei  89   800     5     5   4.0
23    male  21  169  80     GanSu  93   900     5     5   2.0
24  female  21  160  49     HeBei  59  1100     3     5  10.0
25  female  21  162  54     GanSu  68  1300     4     5   7.0
26    male  21  181  77   SiChuan  62   800     2     5   9.0
27  female  21  162  49  ShanDong  65   950     4     4   8.0
28  female  22  160  52    ShanXi  73   800     3     4   6.0
29  female  20  161  51   GuangXi  80  1250     5     5   5.0
30  female  20  168  52   JiangSu  98   700     5     5   1.0